html, body {
        height:100%;
    }
    
    .navbar {
        opacity: 0.6;
        font-family: 'Yanone Kaffeesatz', sans-serif;
        font-size: 18px;
        height: 10px;
    }
    
    #topContainer {        
        background-image:url("background.jpg");
        width:100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        padding-top: 70px;
    }
    
    #first {        
        background-image:url("first-cover.jpg");
        width:100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        padding-top: 70px;
        overflow-y: auto;
    }
    
    #last {        
        background-image:url("last-cover.jpg");
        width:100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        padding-top: 70px;
        overflow-y: auto;
    }
    
    h1 {      
        font-family: 'Berkshire Swash', cursive;
        font-size: 400%;
        font-weight: 500;
        opacity: 0.9;
        margin-bottom: 40px;
    }
    
    .lead {
        font-family: 'Yanone Kaffeesatz', sans-serif;
        font-size: 20px;
        font-weight: 400;
    }
    
    .center {
        text-align: center;
    }
    
    .white {
        color: white;
    }
    
    p {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    
    button {
        margin-top: 15px;
    }
    
    .alert {
        margin-top: 40px;
        display: none;
    }
    